<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cnStrAnk" connectionString="Data Source=WIN-I5JHPKPFDIL\SQLEXPRESS;Initial Catalog=DhanlaxmiAnk;user id=sa;password=Natraj@123#31" />
  </connectionStrings>
  <appSettings>
    <add key="cnStrAnk" value="Data Source=WIN-I5JHPKPFDIL\SQLEXPRESS;Initial Catalog=DhanlaxmiAnk;user id=sa;password=Natraj@123#31" />
    <add key="cnStrAnkAlt" value="Data Source=Admin-1;Initial Catalog=DhanlaxmiAnk;user id=sa;password=#sa123" />
    <add key="siteURL" value="http://qbservice.natrajpublications.com" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="Default" name="Mobile_Service.Dhan_services">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="Mobile_Service.IDhan_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <system.webServer>
    <directoryBrowse enabled="true" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
